
.papaya {
    width: 90%;
    height: 90%;
    margin: 25px auto;
    background-color: black;
    font-family: sans-serif;
}


/* This is used to display a "JavaScript required" message. */
.papaya:before {
    position: relative;
    /* content: "Papaya requires JavaScript..."; */
    content: "Loading...";
    display: block;
    top: 45%;
    color: red;
    margin: 0 auto;
    font-size: 18px;
    font-family: sans-serif;
}


.papaya-fullscreen {
    height: 100%;
}
